Options +FollowSymlinks
addDefaultCharset UTF-8 
RewriteEngine on
#Local
RewriteBase /Echeancier/sprint1/
#EN ligne
#RewriteBase /dev/lyra_com/sprint1/


Options -Indexes

RewriteRule ^index.html$  index.php [L]